html {
    scroll-behavior: smooth;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background: #27292c;
    color: white;
}

.border-text {
    color:rgb(147 197 253); 
    background:#27292c; 
    padding:1.5px;
    border: 1px solid navy;
    border-radius: 5px;    
}

#profile-image {
    float: right;  
    width: 250px;
    border-radius: 100px;
    border: 5px solid white;
    margin-right: 80px; 
}

#title-1 {
      margin-top: 200px;
    display: flex;
    margin-bottom: 0;
     flex-direction: column;
    align-items: flex-start; /* Align title to the left */
    margin-left: 20px; /* Adjust left margin as needed */
    font-size: 4rem;
}

#title-2 {
    display: inline-block;
    margin-right: 20px;
    
     flex-direction: column;
    align-items: flex-start; /* Align title to the left */
    margin-left: 20px; /* Adjust left margin as needed */
    font-size: 4rem;
        margin-bottom: 40px; /* Adjust this value as needed to reduce the gap */
}


.red-text {
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

a {
    text-decoration: none;
}

nav {
    font-family: 'Kumbh Sans', sans-serif;
    background: black;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; 
}

.nav-buttons {
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: flex-end;
    margin-right: 20px;
}

.nav-text {
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
    margin: 0 5px;
    border: none;
    background: none;
    position: relative; /* Add position relative for the pseudo-element */
    overflow: hidden; /* Hide overflow for the pseudo-element */
    z-index: 1; /* Set z-index to appear above the pseudo-element */
    cursor: pointer;
    transition: 0.2s ease-in;
}

.nav-text:hover {
    color: #27292c;
}

.nav-text:before {
    content: "";
    position: absolute;
    background: #f77062;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    transition: top 0.09s ease-in;
}

.nav-text:hover:before {
    top: 0;
}


#logo-img {
    width:200px;
    padding: 10px;
}

.blue-text {
  background-color: #ff8177;
  background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent; 
}

/* styles.css */
#who-am-i {
    color: white;
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.5;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    width: 100%;
    margin-bottom: 80px;
}

#who-am-i span {
    font-size: 2rem;
    text-transform: none;
    margin-left: 40px;
}

.message {
    background-color: #f77062;
    color: white;
    display: block;
    font-weight: 900;
    overflow: hidden;
    position: absolute;
    padding-left: 0.5rem;
    top: 0.2rem;
    left: 145px;
    animation: openclose 10s ease-in-out infinite;
}

#footer-text {
    padding-top: 10px;
     padding-bottom: 10px;
      font-size: 14px;
     padding-left: 30px;
     font-weight: normal;
     text-align: center;
    color: #aaaaaa;
}

@keyframes openclose {
    0% {
    top: 0.16rem;
    width: 0;
  }
  5% {
    width: 0;
  }
  15% {
    width: 270px;
  }
  30% {
    top:  0.16rem;
    width: 270px;
  }
  33% {
    top:  0.16rem;
    width: 0;
  }
  35% {
    top:  0.16rem;
    width: 0;
  }
  38% {
    top: -3.0rem;
    
  }
  48% {
    top: -3.0rem;
    width: 310px;
  }
  62% {
    top: -3.0rem;
    width: 310px;
  }
  66% {
    top: -3.0rem;
    width: 0;
    text-indent: 0;
  }
  71% {
    top: -6rem;
    width: 0;
    text-indent: 5px;
  }
  86% {
    top: -6rem;
    width: 490px;
  }
  95% {
    top: -6rem;
    width: 490px;
  }
  98% {
    top: -6rem;
    width: 0;
    text-indent: 5px;
  }
  100% {
    top: 0;
    width: 0;
    text-indent: 0;
  }

}


.social-media-icons {
  margin-left: 10px;
}


.icon {
  width: 50px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 50px;
}

.icon {
  transition-duration: 0.3s;
  position: relative;
}

#youtube-icon:hover {
  content: url("./images/Youtube.png");
  transform: translateY(-5px);
}

#linkedin-icon:hover {
  content: url("./images/LinkedIN.png");
  transform: translateY(-5px);
}

#github-icon:hover {
  content: url("./images/Github_black.png");
  transform: translateY(-5px);
}

#play-btn-icon:hover {
  content: url("./images/play-button.png");
  transform: translateY(-5px);
}

#itch-icon:hover {
  content: url("./images/itch-io-icon.png");
  transform: translateY(-5px);
}


.icon::after {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  color: white;
  opacity: 0;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease;
}

.icon:hover::after {
  opacity: 1;
}

#technologies {
    padding-top: 60px;
    padding-left: 50px;    
}

#my-skills {
    height: 500px; 
}

#about-me {
    height: 900px;
    background: black;
}

#work-experience {
    height: 2200px;
}

#projects-section {
    height: 1700px;
    background: black;
}


#C, #Python, #HTML, #JavaScript,  #React, #SQL {
     animation: idleUpDown 5s infinite alternate; /* Add the idle animation */    
}

#Csharp, #Java, #CSS, #Unity, #VBA {
     animation: idleUpDown 4s infinite alternate; /* Add the idle animation */
}

.skills-img {
    height: 80px;
    margin-right: 30px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.skills-img:hover {
    transform: scale(1.05) !important;
    opacity: 0.8  !important;
    animation: none  !important; /* Stop the animation on hover */
}

@keyframes idleUpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px); /* Adjust the distance as needed */
    }
    100% {
        transform: translateY(0);
    }
}



#about-header {
    color: rgb(153 153 161);
    margin-left: 60px;
    padding-top: 50px;   
}

#about-title {
   color: rgb(212 212 216);
    margin-left: 60px;
    padding-top: 10px;   
    font-size: 60px;
    font-weight: bold;

}

.about-text {
   color: white;
    margin-left: 60px;
    padding-top: 10px;
    width: 900px;   

}

.software-skills {
    height: 17rem;
    position: absolute;
    width: 15rem;
    background-color: rgb(212 212 216);
    border-radius: 20px;
    margin-right: 20px;
    box-shadow: 
    inset 0px 0px 10px rgb(153 153 161); /* Outer shadow */
}

.project-div {
    height: 35rem;
    display: inline-block;
    margin-top: 50px;
    width: 30rem;
    background-color: rgb(30, 41, 59);
    border-radius: 20px;
    margin-right: 100px;
    transition: transform 0.3s ease; /* Add a smooth transition effect */
}

.project-div:hover {
    transform: scale(1.05); /* Scale up the div on hover */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Add a subtle shadow effect */
}

#professions {
    display:block;
    margin-left: 60px;
    padding-top: 60px;
    padding-bottom: 600px;
}
#wave-section {
    display: inline-block;
}
.wave {
    display: inline-block;
    animation-name: wave-animation;  
    height: 60px;
    width: 60px;
    animation-duration: 2.5s;        
    animation-iteration-count: infinite;    
  }

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  
  100% { transform: rotate( 0.0deg) }
}
  
.list-projects {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: 40px;
    margin-bottom: 10px;
}
.software-img {
  height: 100px;
  width: 100px;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.project-img {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center; /* Added to center the image vertically */
 margin: 50px auto 10px auto; /* Adjusted margin-top to 50px */
  border: 5px solid white;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.languages-used {
    display: flex;
    justify-content: center; /* Horizontally center the image */
    align-items: center; /* Vertically center the image */
    margin-left: auto;
    margin-right: auto;
}

.used-tech {
    padding-right: 10px;
}

.project-description {
    width: 300px;
    justify-content: flex;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    color:  rgb(156 163 175);
    padding-top: 10px;
    margin-bottom: 30px;
}

.software-label {
  color: #27292c;
   margin: 0; /* Removes space between paragraphs */
   padding: 0; /* Removes space between the border and text of each paragraph */
  line-height: 30px; /* Decreases spacing between different lines in each paragraph */
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.project-label {
  color: white;
   margin: 20px; /* Removes space between paragraphs */
   padding: 0; /* Removes space between the border and text of each paragraph */
  line-height: 25px; /* Decreases spacing between different lines in each paragraph */
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

#software {
  left: 360px;
}

#game {
  left: 650px;
}

#recipe-search-engine {
  left: 560px;
}

#sonic-aether {
  left: 620px;
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    box-sizing: border-box;
    box-shadow: 0 20px 25px -15px rgba(0, 0, 0, .3);
}


/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 31px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 31px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}

/* The actual content */
.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2); 
}

.content:hover {
     transform: translateY(-5px);
}

.timeline-position {
    color: #333;  
    line-height: 5px; 
}

.timeline-location {
  color: black;
  line-height: 1px;
  font-weight: normal;
}

.timeline-info {
  color: black;
  font-weight: normal;
  margin-bottom: 10px;
}


.timeline-date {
  color: gray;
  font-size: 12px;
  line-height: 1px;
  font-weight: normal;
  margin-bottom: 30px;
}

.hide {
  display: none;
}

.company-logo {
  height: 100px;
}

.push-down {
    margin-bottom: 100px;
}

#contact-info {
    background-color: black;
    height: 600px;
}

#contact-container {
    background:  rgb(31 31 31);
     height: 160px;
     padding-top: 50px;
     padding-bottom: 50px;
     width: 800px;
     display: block;
     justify-content: center;
     margin-right: auto;
     margin-left: auto;
     border-radius: 20px;
}

.contact-container-info {
    display: flex;
    justify-content: center;
    line-height: 0.5px;
    margin-left: auto;
    margin-right: auto;
}

.contact-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.contact-icons {
  height: 70px;
  width: 70px;
  /* Remove any margin if present */
}

#slide-down {
    margin-bottom: 50px;
}

.contact-container-info {
  color: white;
  /* Add left margin for spacing if needed */
  margin-left: 30px;
  font-weight: 100;
}

#phone-icon, #email-icon {
  display: flex;
  margin-left: 225px;
  align-items: center;
  justify-content: flex-start; /* Aligns content to the left */
}

/* Common button styles */
.button-email, .phone-email {
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: space-between; /* Space between text and image */
  margin: 0 auto;
  width: 270px;
  font-family: "Montserrat", "Trebuchet MS", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  position: relative;
  padding: .8em 1.4em;
  border: none;
  color: #fff; /* White text */
  transition: .2s;
}

/* Email button styles */
.button-email {
  background: linear-gradient(to right, #f77062 0%, #f77062 70%, #CB5E52 70%, #CB5E52 100%);
}

.button-email:hover {
  background: linear-gradient(to right, #FF4848 0%, #FF4848 70%, #CB3928 70%, #CB3928 100%);
}

/* Phone button styles */
.phone-email {
  background: linear-gradient(to right, #22C1E6 0%, #22C1E6 70%, #18A8C8 70%, #18A8C8 100%);
}

.phone-email:hover {
  background: linear-gradient(to right, #2287E6 0%, #2287E6 70%, #1858A6 70%, #1858A6 100%);
}

.phone-email:hover img {
  animation: wiggle .1s alternate ease infinite;
}

.buttin-email img {
    transition: transform 0.5s ease;
}

.button-email:hover img {
    transform: skew(-20deg);

}

/* Image styles */
.contact-img {
  display: flex;
  flex-direction: flex-end;
  height: 40px;
}

@keyframes wiggle {
  from { transform: rotate(0deg); }
  to   { transform: rotate(30deg); }
}

@media screen and (max-width: 1024px) {


  .list-projects {
      display: flex;
      justify-content: center;
      margin-left: 80px;
      margin-right: auto;
      margin-bottom: 10px;
  }

  .project-img {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto 10px auto;
    border: 5px solid white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  }

  .skills-img {
    height: 80px;
    margin-right: 30px;
    padding-bottom: 30px;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
}