body {
    font-family: Arial, Helvetica, sans-serif;
    background: #27292c;
    color: white;
}
#personal-info {
  
}

#profile-image {
    float: right;  
    width: 250px;
    border-radius: 100px;
    border: 5px solid white;
    margin-right: 80px; 
}

#title-1 {
      margin-top: 200px;
    display: flex;
     flex-direction: column;
    align-items: flex-start; /* Align title to the left */
    margin-left: 20px; /* Adjust left margin as needed */
    font-size: 4rem;
}

#title-2 {
    display: flex;
     flex-direction: column;
    align-items: flex-start; /* Align title to the left */
    margin-left: 20px; /* Adjust left margin as needed */
    font-size: 4rem;
        margin-bottom: 40px; /* Adjust this value as needed to reduce the gap */
}


.red-text {
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.blue-text {
  background-color: #ff8177;
  background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent; 
}

/* styles.css */
#who-am-i {
    color: white;
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.5;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    width: 1050px;
    margin-bottom: 80px;
}

#who-am-i span {
    font-size: 2rem;
    text-transform: none;
    margin-left: 40px;
}

.message {
    background-color: #f77062;
    color: white;
    display: block;
    font-weight: 900;
    overflow: hidden;
    position: absolute;
    padding-left: 0.5rem;
    top: 0.2rem;
    left: 145px;
    animation: openclose 10s ease-in-out infinite;
}


@keyframes openclose {
    0% {
    top: 0.16rem;
    width: 0;
  }
  5% {
    width: 0;
  }
  15% {
    width: 270px;
  }
  30% {
    top:  0.16rem;
    width: 270px;
  }
  33% {
    top:  0.16rem;
    width: 0;
  }
  35% {
    top:  0.16rem;
    width: 0;
  }
  38% {
    top: -3.0rem;
    
  }
  48% {
    top: -3.0rem;
    width: 310px;
  }
  62% {
    top: -3.0rem;
    width: 310px;
  }
  66% {
    top: -3.0rem;
    width: 0;
    text-indent: 0;
  }
  71% {
    top: -6rem;
    width: 0;
    text-indent: 5px;
  }
  86% {
    top: -6rem;
    width: 490px;
  }
  95% {
    top: -6rem;
    width: 490px;
  }
  98% {
    top: -6rem;
    width: 0;
    text-indent: 5px;
  }
  100% {
    top: 0;
    width: 0;
    text-indent: 0;
  }

}


.social-media-icons {
  margin-left: 10px;
}


.icon {
  width: 50px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 50px;
}

.icon {
  transition-duration: 0.3s;
  position: relative;
}

#youtube-icon:hover {
  content: url("./images/Youtube.png");
  transform: translateY(-5px);
}

#linkedin-icon:hover {
  content: url("./images/LinkedIN.png");
  transform: translateY(-5px);
}

#github-icon:hover {
  content: url("./images/Github_black.png");
  transform: translateY(-5px);
}

#play-btn-icon:hover {
  content: url("./images/play-button.png");
  transform: translateY(-5px);
}

#itch-icon:hover {
  content: url("./images/itch-io-icon.png");
  transform: translateY(-5px);
}


.icon::after {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  color: white;
  opacity: 0;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s ease;
}

.icon:hover::after {
  opacity: 1;
}

#technologies {
    padding-top: 60px;
    padding-left: 50px;    
}

#my-skills {
    height: 500px; 
}

#about-me {
    height: 900px;
    background: black;
}

#work-experience {
    height: 2000px;
}

#projects-section {
    height: 1700px;
    background: black;
}


#C, #Python, #HTML, #JavaScript,  #React, #SQL {
     animation: idleUpDown 5s infinite alternate; /* Add the idle animation */    
}

#Csharp, #Java, #CSS, #Unity, #VBA {
     animation: idleUpDown 4s infinite alternate; /* Add the idle animation */
}

.skills-img {
    height: 80px;
    margin-right: 30px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.skills-img:hover {
    transform: scale(1.05) !important;
    opacity: 0.8  !important;
    animation: none  !important; /* Stop the animation on hover */
}

@keyframes idleUpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px); /* Adjust the distance as needed */
    }
    100% {
        transform: translateY(0);
    }
}



#about-header {
    color: rgb(153 153 161);
    margin-left: 60px;
    padding-top: 50px;   
}

#about-title {
   color: rgb(212 212 216);
    margin-left: 60px;
    padding-top: 10px;   
    font-size: 60px;
    font-weight: bold;

}

.about-text {
   color: white;
    margin-left: 60px;
    padding-top: 10px;
    width: 900px;   

}

.software-skills {
    height: 17rem;
    position: absolute;
    width: 15rem;
    background-color: rgb(212 212 216);
    border-radius: 20px;
    margin-right: 20px;
    box-shadow: 
    inset 0px 0px 10px rgb(153 153 161); /* Outer shadow */
}

.project-div {
    height: 35rem;
    position: absolute;
    width: 30rem;
    background-color: rgb(30, 41, 59);
    border-radius: 20px;
    margin-right: 20px;
    transition: transform 0.3s ease; /* Add a smooth transition effect */
}

.project-div:hover {
    transform: scale(1.05); /* Scale up the div on hover */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Add a subtle shadow effect */
}

#professions {
    display:block;
    margin-left: 60px;
    padding-top: 60px;
    padding-bottom: 600px;
}
.software-img {
  height: 100px;
  width: 100px;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.project-img {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center; /* Added to center the image vertically */
 margin: 50px auto 10px auto; /* Adjusted margin-top to 50px */
  border: 5px solid white;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.languages-used {
    display: flex;
    justify-content: center; /* Horizontally center the image */
    align-items: center; /* Vertically center the image */
    margin-left: auto;
    margin-right: auto;
}

.used-tech {
    padding-right: 10px;
}

.project-description {
    width: 300px;
    justify-content: flex;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    color:  rgb(156 163 175);
    padding-top: 10px;
    margin-bottom: 30px;
}

.software-label {
  color: #27292c;
   margin: 0; /* Removes space between paragraphs */
   padding: 0; /* Removes space between the border and text of each paragraph */
  line-height: 30px; /* Decreases spacing between different lines in each paragraph */
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.project-label {
  color: white;
   margin: 20px; /* Removes space between paragraphs */
   padding: 0; /* Removes space between the border and text of each paragraph */
  line-height: 25px; /* Decreases spacing between different lines in each paragraph */
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

#software {
  left: 360px;
}

#game {
  left: 650px;
}

#recipe-search-engine {
  left: 560px;
}

#sonic-aether {
  left: 620px;
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    box-sizing: border-box;
    box-shadow: 0 20px 25px -15px rgba(0, 0, 0, .3);
}

/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 31px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 31px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}

/* The actual content */
.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

.timeline-position {
    color: #333;  
    line-height: 5px; 
}

.timeline-location {
  color: black;
  line-height: 1px;
  font-weight: normal;
}

.timeline-info {
  color: black;
  font-weight: normal;
  margin-bottom: 10px;
}


.timeline-date {
  color: gray;
  font-size: 12px;
  line-height: 1px;
  font-weight: normal;
  margin-bottom: 30px;
}

.hide {
  display: none;
}

.company-logo {
  height: 100px;
}

#push-down {
    margin-bottom: 100px;
}